In [73]:
import pandas as pd
import json
import requests 

spells_url = 'https://api.potterdb.com/v1/spells'
potions_url = 'https://api.potterdb.com/v1/potions'

headers = {
	"x-rapidapi-host": "api.potterdb.com",
	"Content-Type": "application/json"
}

In [78]:
# Extract relevant information and filter for house characters
def extract_house_characters(house):
    
    # Initialize an empty list to store house characters
    house_characters = []
    
    house_url = f'https://api.potterdb.com/v1/characters?filter[house_cont]={house}'
    

    # Fetch data from the API with pagination
    current_page = 1
    while True:
        response = requests.get(house_url, headers=headers, params={"page[number]": current_page})
        if response.status_code == 200:
            data = response.json()
            for character in data['data']:
                attributes = character['attributes']
                if attributes['house'] == house:
                    house_characters.append({
                        'name': attributes.get('name'),
                        'house': attributes.get('house'),
                        'gender': attributes.get('gender'),
                        'blood_status': attributes.get('blood_status')
                    })
            # Check if there is a next page
            if 'links' in data and 'next' in data['links']:
                current_page += 1
            else:
                break
        else:
            print("Could not get response from API")
            break

    # Create a DataFrame from the collected data
    df_house = pd.DataFrame(house_characters)
    return df_house

In [77]:
hufflepuff_characters = extract_house_characters('Hufflepuff')
hufflepuff_characters

                    name       house  gender              blood_status
0    Abraham Grimblehawk  Hufflepuff    Male                Half-blood
1         Adelaide Oakes  Hufflepuff  Female                      None
2           Adrian Speke  Hufflepuff    Male                      None
3    Agatha Thrussington  Hufflepuff  Female                      None
4           Aki Sugiyama  Hufflepuff  Female                      None
..                   ...         ...     ...                       ...
193        Wayne Bostock  Hufflepuff    Male                      None
194        Wayne Hopkins  Hufflepuff    Male                Half-blood
195         Willa Weholt  Hufflepuff  Female                      None
196      Zacharias Smith  Hufflepuff    Male  Pure-blood or half-blood
197           Zara Valli  Hufflepuff  Female                      None

[198 rows x 4 columns]

In [79]:
ravenclaw_characters = extract_house_characters('Ravenclaw')
ravenclaw_characters

                     name      house  gender               blood_status
0                 Alannis  Ravenclaw  Female                       None
1         Alannis Shepley  Ravenclaw  Female                       None
2                  Amanda  Ravenclaw  Female                       None
3           Amina Qureshi  Ravenclaw  Female                       None
4            Amit Thakkar  Ravenclaw    Male                       None
..                    ...        ...     ...                        ...
189  Xenophilius Lovegood  Ravenclaw    Male   Pure-blood or half-blood
190       Yolanda Reedham  Ravenclaw  Female                       None
191          Yutaka Amano  Ravenclaw    Male                       None
192        Yvonne Bampton  Ravenclaw  Female                       None
193          Zenobia Noke  Ravenclaw  Female  Half-blood or Muggle-born

[194 rows x 4 columns]

In [80]:
slytherin_characters = extract_house_characters('Slytherin')
slytherin_characters

                name      house  gender blood_status
0       Abigail Pugh  Slytherin  Female         None
1      Abraham Ronen  Slytherin    Male         None
2     Abraxas Malfoy  Slytherin    Male   Pure-blood
3    Adelaide Murton  Slytherin  Female         None
4       Adrian Pucey  Slytherin    Male         None
..               ...        ...     ...          ...
248     Yatin Bhagat  Slytherin    Male         None
249    Yubert Thorne  Slytherin    Male   Pure-blood
250    Yurika Haneda  Slytherin  Female         None
251   Zoe Accrington  Slytherin  Female         None
252     Zubeida Khan  Slytherin  Female         None

[253 rows x 4 columns]

In [82]:
gryffindor_characters = extract_house_characters('Gryffindor')
gryffindor_characters

                name       house  gender blood_status
0       Aamir Loonat  Gryffindor    Male         None
1       Abigail Grey  Gryffindor  Female   Half-blood
2     Abigail Nicola  Gryffindor  Female         None
3     Adam Pickering  Gryffindor    Male         None
4     Aiden O'Connor  Gryffindor    Male         None
..               ...         ...     ...          ...
286    Winky Crocket  Gryffindor    None         None
287  Yann Fredericks  Gryffindor    Male         None
288      Yuvraj Suri  Gryffindor    Male         None
289      Zakir Akram  Gryffindor    Male         None
290  Zola G. Farrell  Gryffindor  Female   Pure-blood

[291 rows x 4 columns]

In [84]:
all_house_characters = pd.concat([gryffindor_characters, slytherin_characters, ravenclaw_characters, hufflepuff_characters], ignore_index=True)

all_house_characters

                name       house  gender              blood_status
0       Aamir Loonat  Gryffindor    Male                      None
1       Abigail Grey  Gryffindor  Female                Half-blood
2     Abigail Nicola  Gryffindor  Female                      None
3     Adam Pickering  Gryffindor    Male                      None
4     Aiden O'Connor  Gryffindor    Male                      None
..               ...         ...     ...                       ...
931    Wayne Bostock  Hufflepuff    Male                      None
932    Wayne Hopkins  Hufflepuff    Male                Half-blood
933     Willa Weholt  Hufflepuff  Female                      None
934  Zacharias Smith  Hufflepuff    Male  Pure-blood or half-blood
935       Zara Valli  Hufflepuff  Female                      None

[936 rows x 4 columns]

In [81]:
response = requests.get(spells_url.format(headers=headers))
if response.status_code == 200:
    data = response.json()
else:
    print("Could not get response from API")
    
if data:
        for spells in data['data']:
            attributes = spells['attributes']
            print(attributes.get('category'))

Charm
Charm
Spell
Charm
Healing spell, Vanishment, Charm
Transfiguration
Charm
Dark charm
Charm
Charm
Jinx
Jinx
Curse
Magical transportation
Charm
Charm
Conjuration
Charm
Charm
Transfiguration, Jinx
Curse
Transfiguration
Healing Spell, Charm, Conjuration
Charm
Hex
Charm
Hex
Charm
Charm, Conjuration
Curse
Charm
Charm
Charm
Charm
Charm
Conjuration
Charm
Healing spell, Charm
Charm
Conjuration
Jinx
Charm
Conjuration
Charm
Jinx
Charm
Transformation
Transfiguration
Charm
Charm
Charm
Charm
Spell
Charm
Curse
Jinx
Jinx, Conjuration
Charm
Transfiguration
Curse
Curse
Charm
Charm
Jinx
Hex
Charm
Charm
Transfiguration
Hex
Charm
Charm
Charm, Counter-charm
Charm
Dark charm
Charm, Curse
Transfiguration
Charm
Transfiguration, Jinx
Jinx
Curse
Transfiguration
Jinx
Charm
Dark charm
Curse, Healing spell
Healing spell, Charm
Transfiguration
Charm, Counter-charm
Charm
Transfiguration
Charm
Curse
Charm
Charm
Spell
Charm
Transfiguration
Charm
Charm
Curse

In [26]:
response = requests.get(potions_url.format(headers=headers))
if response.status_code == 200:
    data = response.json()
else:
    print("Could not get response from API")
    
if data:
        for potions in data['data']:
            attributes = potions['attributes']
            print(attributes.get('creator'))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None